input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 5px 5px; 
  } 

   .doneBtn {
    width: 100%;
  }

button:focus {outline:0;}
