table {
    font-size: 15px;
}

table > tbody > tr > td {
    width: 14.3%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

table > tbody > tr > th {
    text-align: center;
    vertical-align: middle;
}

table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
}

input[type=text] {
    margin-left: 25px;
    width: 100%;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url('src/assets/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  } 

.container {
    margin-top: 25px;
}

  button:focus {outline:0;}