<br>
<form>
    <input type="text" name="search" placeholder="Enter title here.." [(ngModel)]="searchTitle">
</form>

<br>

<app-product-details (productToParent)="getProductFromProd($event)" (errorMsgToParent)="getErrorMsgFromParent($event)" [title]="searchTitle"></app-product-details>

<table border="1" cellpadding="10" style="width: 100%;">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Stock Update</th>
    <th>TotalPrice</th>
    <th>Remove</th>
  </tr>
  <tr *ngFor="let product of products" style="text-align: center;">
    <td>
      {{ product.id }}
    </td>
    <td>
      {{ product.title }}
    </td>
    <td>
      {{ product.price }}
    </td>
    <td>
      {{ product.stock }}
    </td>
    <td>
      <app-stock-status [productDetails]="product"></app-stock-status>
    </td>
    <td>
      {{ product.stock * product.price }}
    </td>
    <td>
      <app-delete-product (productIDtoDelete)="deleteProductFromID($event)" [btnID]="product.id"></app-delete-product>
    </td>
  </tr>
</table>

<br>

<span *ngFor="let order of orderByArray; let i = index">
  <button (click)="reorder($event, order)">{{ buttonTitle[i] }}</button>
</span>

<h1 style="text-align: center;">
  {{errorMsg}}
</h1>

<router-outlet></router-outlet>